body {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #880;
}

header {
    background-color: #48f;
    text-shadow: 2px 2px 3px #000;
    margin: 0px;
    color: #fff;
    box-shadow: 0px 4px 7px #000;
}

header h1 {
    margin: 0px;
    text-align: center;
    font-family: "Hack NF";
    font-style: italic;
}

form {
    background-color: #356;
    border: 2px solid #020;
    border-radius: 5px;
    font-family: "Hack NF";
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}

form * {
    margin: 5px;
    box-shadow: 2px 2px 3px #000;
}

form button {
    transition: transform .1s, background .2s;
    background-color: #800;
    border: 3px solid #335;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-family: "Hack NF";
    font-weight: bold;
    transform: scale(.9, .9);
    cursor: pointer;
}

form button:hover {
    transition: transform .2s, background .2s;
    transform: scale(1, 1);
    background-color: #600;
    color: #ddd;
}

.entry {
    background-color: #ddd;
    border: 1px solid #111;
    border-radius: 3px;
    display: flex;
}

.entry label {
    font-weight: bold;
    text-shadow: -2px -2px 3px #333;
    box-shadow: none;
    color: #008;
    flex: 1;
}

.entry input {
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-style: italic;
    text-align: center;
    border: 1px solid #005;
    border-radius: 3px;
    color: #222;
    flex: 1 1 75%;
}

.entry * {
    margin: 10px;
    padding: 5px;
}

p {
    margin: 5px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: "Hack NF";
}