<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/addUsers.css">
    <title>Add User</title>
</head>
<body>
    <header><h1>Add User</h1></header>
    <form method="post">
        <div class="entry">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="entry">
            <label for="age">Age: </label>
            <input type="number" name="age" id="age" required>
        </div>
        <button type="submit">Send</button>
    </form>
    <p>Acess <a href="../users/view">this</a> to view a users!</p>
</body>
</html>
